<html>

<head>
    <title>nger</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #root {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            width: 100vw;
            height: 100vh;
            background-color: #ff6632;
            color: #fff;
        }

        .title {
            color: #fff;
            margin-top: 20px;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div id="root">
        <div class="logo">
            <img src="./logo.png" alt="">
        </div>
        <div class="title">
            Welcome to use nger!
        </div>
    </div>
</body>

</html>